header {
    position: sticky; 
    top: 0;           
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #272832;
}

.heading-top-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    padding-top: 2em;
}

.logo-icon-link {
    margin-left: 2.5em;
    margin-top: 0.5em;
}

.header-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 2.5em;
    margin-right: 2em;
}

.header-nav li {
    display: flex;
}

.header-nav a {
    display: flex;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 1em 2em;
    transition: 0.2s;
    cursor: pointer;
}

.header-nav a:hover {
    text-shadow: 0 0 10px var(--text-color);
}

#open-sidebar-button {
     display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#close-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    color: #f0f0f0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}