.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px var(--text-color), -2px -2px var(--text-color), -2px 2px var(--text-color), 2px -2px var(--text-color);
    color: #1D0738;
}