@media screen and (max-width: 699px) {
    #open-sidebar-button, #close-sidebar-button {
        display: block;
    }

    .heading-top-mobile {
        width: 100%;
        padding: 1em 1.5em;
    }

    .logo-icon-link {
        margin: 0;
        padding-left: 0.5em;
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        z-index: 99;
        width: min(23em, 100%);
        border-left: 1px solid #272832;
        transition: right 300ms ease-out;
        background-color: rgba(255, 255, 255, 0.134);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(172, 171, 171, 0.1);
    }

    .header-nav.show {
        right: 0;
    }

    .header-nav.show ~ #overlay {
        display: block;
    }

    .header-nav ul {
        width: 100%;
        flex-direction: column;
        margin-right: 0;
        margin-top: 5em;
    }

    .header-nav li {
        width: 100%;
    }

    .header-nav a {
        display: block;
        width: 100%;
        padding: 1em 1em;
        text-align: center;
    }

    .intro h1 {
        font-size: 3rem;
        padding-top: 4rem;
    }

    .intro h2 {
        font-size: 2.3rem;  
    }

    .poem {
        font-size: 1.6em;
    }

    .projects h2 {
        font-size: 2.3rem;
    }

    section {
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 700px) and (max-width: 1199px){
    header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }

    .heading-top-mobile {
        justify-content: center;
        width: 100%;
        padding: 1em 0;
    }

    .header-nav ul {
        margin-top: 0;
        gap: 2rem;
        justify-content: center;
    }

    .intro h1 {
        font-size: 3rem;
    }

     .intro h2 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        margin-bottom: 3rem;
    }
}
