:root {
    --page-bg: #0B090D;
    --text-color: #f0f0f0;
    --hover-color: #80DEEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--text-color);
}

body {
    min-height: 100dvh;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: var(--page-bg) linear-gradient(to bottom, #1D0738, #1D073800) fixed;
}

header {
    position: sticky; 
    top: 0;           
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #272832;
}

section {
    margin: 0 2.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 2.5em;
    margin-right: 2em;
}

nav li {
    display: flex;
}

nav a {
    display: flex;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 1em 2em;
    transition: 0.2s;
    cursor: pointer;
}

nav a:hover {
    text-shadow: 0 0 10px var(--text-color);
}

.heading-top-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    padding-top: 2em;
}

    
.logo-icon-link {
    padding-left: 2em;
}

#open-sidebar-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#close-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    color: #f0f0f0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}


@media screen and (max-width: 700px) {
    #open-sidebar-button, #close-sidebar-button {
        display: block;
    }

    .heading-top-mobile {
        width: 100%;
    }

    .logo-icon-link {
        padding-left: 0.5em;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        z-index: 99;
        width: min(23em, 100%);
        border-left: 1px solid #272832;
        transition: right 300ms ease-out;
        background-color: rgba(255, 255, 255, 0.134);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(172, 171, 171, 0.1);
    }

    nav.show {
        right: 0;
    }

    nav.show ~ #overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        margin-right: 0;
        margin-top: 5em;
    }

    nav a {
        width: 100%;
        padding: 1em 1em;
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }

    .heading-top-mobile {
        justify-content: center;
        width: 100%;
        padding: 1em 0;
    }

    nav ul {
        margin-top: 0;
        gap: 2rem;
        justify-content: center;
    }
}